body {
    font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
    font-weight: 100;
}

a {
    text-decoration: none;
}

.top-banner {
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
    margin: auto;
}

.photo {
    width: 16em;
    height: 16em;
    position: relative;
    overflow: hidden;
    border-radius: 50%;
    margin: 2em;
    background-size: auto 100%;
}

.header {
    text-transform: uppercase;
    font-size: 2em;
    letter-spacing: .25em;
    margin: .5em 0;
    text-align: right;
}
.subtitle {
    margin: 0 0 .5em 0;
}

.summary {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    margin: 2em;
    font-size: 1.5em;

}

.pic {
    display: inline;
    margin: 0 auto;
    width: 100%;
    height: auto;
}

.links {
    display: flex;
}

.link {
    margin: .25em;
}

.portfolio {
    display: grid;
    grid-template-columns: 30% 30% 30%;
    grid-auto-rows: 25vh;
    justify-content: center;
    grid-row-gap: 2em;
    grid-column-gap: 2em;
}

.project {
    align-items: center;
    justify-content: center;
    overflow: hidden;
    background-color: aliceblue;
    display: flex;
    font-size: 1.5em;
    transition: 1s;
    box-shadow: 0px 2px 4px 0px rgba(0,0,0,0.06)

}

.project:hover {
    transform: scale(1.05);
    cursor: pointer;
    
}

.project:nth-child(even) {
    background-color: whitesmoke;
}

@media screen and (max-width: 50em), screen and (orientation:portrait) {
  .portfolio {
    grid-template-columns: 1fr;
  }
  .summary {
    align-items: center;
    text-align: center;
  }
  .header {
    text-align: center;
  }
  .top-banner {
      flex-direction: column;
      align-items: center;
  }
}

